# .vs folder for visual studios

/day-1/.vs/*
/day-1/x64
/day-1/if-else/x64/*
/day-1/loops/x64/*
/day-1/switch-case/x64/*


/day-2/.vs/*
/day-2/x64
/day-2/dynamic-memory-allocation-of-arrays/x64/*
/day-2/pass-by-address-and-reference/x64/*


/day-3/.vs/*
/day-3/x64
/day-3/bank-account/x64/*
/day-3/book-management/x64/*
/day-3/library-fine-calculator/x64/*
/day-3/vehicle-registration-system/x64/*


/day-4/.vs/*
/day-4/x64
/day-4/complex-number-addition/x64/*
/day-4/distance-comparison-and-addition/x64/*
/day-4/dynamic-integer-storage/x64/*
/day-4/library-member-records/x64/*
/day-4/operator-overloading-all-operators/x64/*


/day-5/.vs/*
/day-5/x64
/day-5/containment-of-objects/x64/*


/day-6/.vs/*
/day-6/x64
/day-6/financial-account-management-system/x64/*
/day-6/hospital-billing-system-using-inheritance-polymorphism-and-rtti/x64/*


/day-7/.vs/*
/day-7/x64
/day-7/airline-baggage-and-boarding-pass-fee-engine/x64/*
/day-7/automated-investment-portfolio/x64/*


/day-8/.vs/*
/day-8/x64
/day-8/banking-digital-wallet-system/x64/*


/day-9/.vs/*
/day-9/x64
/day-9/file-handling-in-cpp/x64/*
/day-9/function-templates/x64/*
/day-9/class-templates/x64/*




